.message-show-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; 
    /* position: relative; */ */
    /* flex-direction: column; */
    margin-top: 50px;
    padding: 20px;

}


.messageShow {
    background-color: #f9f9f9;
    border: 1px solid#5871cc;
    border-radius: 8px;
    padding: 100px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 305px; 
    /* height: 250px;
    max-width: 800px;  */
    margin-right: 10px;
    /* Add some spacing between the message display and buttons */
}

.messageShow h1 {
    top: 15;
    font-size: 34px;
    /* margin-bottom: 15px; */
    /* padding: 5px; */
    text-decoration: underline solid gray;
    color: black;

}

.messageShow span {
    font-size: 22px;
    /* margin-bottom: 15px; */

}

.date-show,
.time-show {
    position: absolute;
    /* Position date and time absolutely */
    top: 170px;
    /* Adjust top position */
    left: 180px;
    /* Adjust left position */
    font-size: 14px;
    /* Adjust font size */
    color: #9398a8;

}

.date-show {
    padding: 15px;
    margin-top: 15px;
}

/* .time-show {
 top :20px;
}  */
.messageShow p {
    margin-top: 20px;
    /* color: #5871cc; */
    margin: 55px 0;


}

.messageShow-button {
    margin-top: 20px;
    margin: 5px;
    justify-content: space-evenly;
}

.button {
    /* padding: 10px 20px; */
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* display: flex; */
    /* margin-bottom: 5px; */
    text-align: center;
    margin: 5px;
}

.edit-button {
    background-color:coral;
    color: #fff;
    padding: 10px 20px;
    /* height: 40px; */
     
    /* margin-right: 10px; */
}

.delete-button {
    background-color:#5871cc;
    color: #fff;
    width: 80px;
    height: 38px;
    text-align: center;
}

.messages {
    font-size: 30px;
}

/* .messageShow-button a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    border-radius: 5px;
    color: black;
    border: solid coral;
    margin: 5px;
} */

/* .messageShow-button button {
    background-color: black;
    /* color: #fff; */
/* border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px; */


/* .messageShow-button button:hover {
    background-color: #0056b3;
}

span {
    color: #5871cc; */


/* .date-show{
    align-items: flex-end;
   position: absolute;
   bottom: 0;
   color: gray;

  
}

.time-show{
    align-items: flex-end;
    position: absolute;
    bottom: 15px;
    color: gray;
} */

/* .date-show {

    align-items: flex-end;
    position: absolute;
    bottom: 0;
    left: 165px
}

.time-show {
    align-items: flex-end;
    position: absolute;
    bottom: 15px;
    color: gray;
    left: 165px
} */