.message-show-container {
    display: flex;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
    /* height: 100%; 

    /* flex-direction: column; */
    margin-top: 50px;
    padding: 20px;


}


.messageShow {
    display: grid;
    justify-items: center;
    align-items: center;



    background-color: #f9f9f9;
    border: 1px solid coral;
    border-radius: 8px;
    /* padding: 100px; */
    /* text-align: center; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    padding: 20px;
    height: 500px;
    /* height: 250px; */
    /* max-width: 800px;  */
    */
    /* margin-right: 10px; */
    /* Add some spacing between the message display and buttons */
    /* position: relative; */
}

.messageShow h1 {
    /* top: 15; */
    font-size: 34px;
    /* margin-bottom: 15px; */
    /* padding: 5px; */
    text-decoration: underline solid gray;
    color: black;

}

.class-dets {
    color: #5871cc;
}

.messageShow span {
    font-size: 22px;
    /* margin-bottom: 15px; */
    /* color: black; */
}

.messageShow-datetime {
    display: flex;
    flex-direction: column;
    color: #9398a8;
    grid-row: 1;
    justify-self: right;

}

/* .date-show,
.time-show {
    position: absolute;
    /* Position date and time absolutely */
/* top: 0px; */
/* margin-bottom: 4px; */
/* Adjust top position */
/* left: 0px; */
/* Adjust left position */
/* font-size: 14px; */
/* Adjust font size */
/* color: #9398a8;

} */


/* .date-show { */
    /* padding: 15px; */
    /* margin-top: 15px; */


/* .time-show {
 top :20px;
}  */

.messageShow-button button {
    /* margin-top: 20px;
    margin: 5px;
    justify-content: space-evenly; */
    border-radius: 4px;
    font-size: 28px;
    border: none;
    cursor: pointer;
    color: #fff;
    padding: 10px;
    display: flex;
    /* column-gap: 10px; */
    align-items: center;
    justify-content: center;
    
    height: 80px;
    width: 200px;

}

.messageShow-button {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}



.edit-button {
    background-color: coral;
    column-gap: 10px;
    /* color: #fff; */
    /* padding: 10px 20px; */
    /* height: 80px; */

    /* margin-right: 10px; */
}

.delete-button {
    background-color: #5871cc;
    column-gap: 5px;
    /* color: #fff; */
    /* width: 80px;
    height: 38px; */
    /* text-align: center; */
}

.messages {
    font-size: 30px;
    margin-top: 50px;

}



