
h1 {
    display: flex;
    justify-content:  center;
}

.home-div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-color: coral;
  
}

/* .home-sidebar {
    width: 250px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-right: 20px;
    border-radius: 8px;
    overflow-y: auto;
    /* Enable vertical scrolling if content overflows */
/* }

.home-sidebar h2 {
    margin-bottom: 10px;
}

.home-sidebar ul {
    list-style-type: '·';
    padding: 0;
    position: relative;
}

.home-sidebar ul li {
    padding: 28px 0;
    cursor: pointer;
    color: black;
}  */


.home-content {
    flex: 1;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
}

.welcome-message p {
    padding: 20px;
}

.welcome-message li {
    padding: 20px;
}

.home-sidebar ul li a {
    text-decoration: underline;
    color: #000;
}

.card-list {
    display: flex;
    list-style: none;
    padding: 0;
  }

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-right: 10px;
    width: 300px; /* Adjust width as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .footer {
    /* position: fixed;
    bottom: 0;
    left: 0; */
    width: 100%;
    background-color: #f9f9f9; /* Set the background color as needed */
    padding: 20px; /* Adjust padding as needed */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Add shadow if desired */
    text-align: center;
  }
  .footer h2 {
    margin-bottom: 10px;
  }
  
.footer-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cards {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 300px; /* Adjust width as needed */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
  }

  .cards a {
    text-decoration: none;
    color: #333;
  }
  
  .cards a:hover {
    color: #007bff; /* Change to desired hover color */
  }