.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* text-align: center; */
    border-bottom: 1px solid #5871cc;
    padding: 10px 0;
    text-decoration: none;



}

.logo {
    width: 500px;
    height: 100px;


}

h1 {
    text-decoration: none;
}

.navbar-wrapper {
    margin-bottom: 10px;
    text-decoration: none;


}



.navbar-brand {

    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color: coral;


}

.navbar-nav .nav-link {
    font-size: 36px;
    color: coral;
    text-decoration: none;
    /* margin-right: 800px; */
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

.navbar-nav .nav-item .dropdown-menu {
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: nowrap;

}

.navbar-nav .dropdown-menu .dropdown-item {
    font-size: 16px;
    color: coral;
    /* display: inline-block; or inline-flex */
    flex: 0 0 auto;
    margin-right: 10px;
    /* Adjust margin as needed */

}

.navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: #5871cc;

}


.navbar-toggler-icon {
    background-color: coral;
}

a {
    text-decoration: none;
}

.nav-button {
    margin: 15px;
    background-color: gray;
    border-radius: 4px;
}