.message-form {
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0px;
}

.message-form label {
    display: block;
    margin-bottom: 10px;
    color: black;
}

.message-form input[type="text"],
.message-form textarea {
    width: calc(100% - 20px);
    /*Adjust the width to make it smaller */

}

/* textarea {
    width: 50px;
} */



.message-form input,
/* .message-form textarea, */
.message-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 65px;
    border: 1px solid #ccc;
    /* border-radius: 45px; */
    color: #5871cc;
}

.message-form textarea {
    width: 100%
}


.message-form input[type="submit"] {
    background-color: coral;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
}

.message-form input[type="submit"]:hover {
    background-color: #0056b3;
}

.form-name {
    text-align: center;
    font-style: ;
}