.message-form {
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0px;
}

.message-form label {
    display: block;
    margin-bottom: 10px;
    color:#5871cc ;
}

.message-form input[type="text"],
.message-form textarea {
    width: calc(100% - 20px); /* Adjust the width to make it smaller */
    
}


.message-form input,
.message-form textarea,
.message-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 65px;
    border: 1px solid #ccc;
    border-radius: 45px;
    color: #5871cc;
}


.message-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.message-form input[type="submit"]:hover {
    background-color: #0056b3;
}
